<div class="movies-grid">
    <mat-grid-list [cols]="cols" gutterSize="8px" rowHeight="560px" *ngIf="movies.length > 0">
      <mat-grid-tile *ngFor="let movie of movies">
        <mat-card class="movie-card">
          <mat-card-header>
            <mat-card-title>{{ movie.Title }}</mat-card-title>
            <mat-card-subtitle>Directed by: {{ movie.Director.Name }}</mat-card-subtitle>
          </mat-card-header>
          
          <img mat-card-image [src]="movie.ImagePath" alt="{{ movie.Title }}" />
          
          <mat-card-actions>
            <button mat-button color="primary" (click)="openGenericDialog('genre', movie.Genre)">
              Genre
            </button>
            <button mat-button color="primary" (click)="openGenericDialog('director', movie.Director.Name)">
              Director
            </button>
            <button mat-button color="primary" (click)="openGenericDialog('movie', movie.Title)">
              Synopsis
            </button>
            <button mat-icon-button (click)="toggleFavorite(movie._id)">
              <mat-icon [color]="isFavorite(movie._id) ? 'accent' : 'primary'">
                {{ isFavorite(movie._id) ? 'favorite' : 'favorite_border' }}
              </mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  