<h2 mat-dialog-title>{{ dataContent?.Name || dataContent?.Title || dataContent?.Director.Name }}</h2>
<mat-dialog-content>
  <p *ngIf="data.type === 'genre'">{{ dataContent?.Description }}</p>
  <p *ngIf="data.type === 'director'">
    Born: {{ dataContent?.Director.Birth }} <br>
    Bio: {{ dataContent?.Director.Bio }} <br>
  </p>
  <p *ngIf="data.type === 'movie'">{{ dataContent?.Description }}
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
