.profile-view {
    padding: 20px;
  }
  
  mat-form-field {
    display: block;
    margin-bottom: 10px;
  }
  
  mat-grid-list {
    margin-top: 20px;
  }
  
  .red-icon {
    color: red;
  }

  .favorite-movies-grid {
    margin: 20px auto;
  }
  
  .favorite-movie-card {
    max-width: 300px;
  }